footer
  .style-1 
  .style-2
  .footer
    .container 
      .row 
        .col-lg-6
          .d-flex.align-items-center
            img.brand-footer(src="assets/logo.svg", alt="Logo APCN")
            p.white.text-uppercase Associação das Polícias do Congresso Nacional
        .col-lg-6 contatos
      .row
        .col-lg-12 divider
        .col-lg-4 redes sociais
        .col-lg-4 endereço
        .col-lg-4
  .descriptions
    .container-fluid 
      .row 
        .col-lg-3
        .col-lg-6 
          .text-center Copyright ® 2021 todos os direitos reservados  
        .col-lg-3 
          .text-end Developement by Carlosvz
    