footer
  .style-1 
  .style-2
  .footer
    .container 
      .row 
        .col-lg-6
          .d-flex.align-items-center
            img.brand-footer(src="assets/logo.svg", alt="Logo APCN")
            p.white.text-uppercase Associação das Polícias do Congresso Nacional
        .col-lg-6
          .d-flex.align-items-center.h-100
            ul.list-unstyled.list-inline
              li.list-inline-item.mx-4
                a.link.link-footer(href="#")
                  i.fas.fa-phone-alt &nbsp; 
                  span +5561 9999-9999
              li.list-inline-item.mx-4
                a.link.link-footer(href="#")
                  i.fas.fa-envelope &nbsp; 
                  span contato@apcn.com.br
              li.list-inline-item.mx-4
                a.link.link-footer(href="#")
                  i.fas.fa-file &nbsp; 
                  span Formulário de Contato
      .row
        .col-lg-12
          hr
        .col-lg-3
          .nav-social--links
            a.link.link-facebook(href="#" title='Facebook APCN')
              i.fab.fa-facebook-f
            a.link.link-youtube(href="#" title='Youtube APCN')
              i.fab.fa-youtube
            a.link.link-instagram(href="#" title='Instagram APCN')
              i.fab.fa-instagram
            a.link.link-whatsapp(href="#" title='Whatsapp APCN')
              i.fab.fa-whatsapp
        .col-lg-6.text-center Congresso Nacional - Praça dos Três Poderes - Brasília DF - CEP 70165-900
        .col-lg-3
  .descriptions
    .container-fluid 
      .row 
        .col-lg-3
        .col-lg-6 
          .text-center Copyright ® 2021 todos os direitos reservados  
        .col-lg-3 
          .text-end Developement by Carlosvz
    