header
  nav.nav-access
    .container
      .row
        .col-lg-6
          figure.d-inline
            img.me-2(src="assets/brazil-flag.svg", alt="Brasil Flag" width="19")
            figcaption.d-inline
              span.c-primary.milli Associação das Polícias do Congresso Nacional
        .col-lg-6.text-end
          a.milli.link-primary.link(href="#") 
            i.fas.fa-user-lock &nbsp;
            strong Acessar
  nav.nav-social
    .container 
      .row 
        .col-lg-12
          .nav-social--links.text-end
            a.link.link-facebook(href="#" title='Facebook APCN')
              i.fab.fa-facebook-f
            a.link.link-youtube(href="#" title='Youtube APCN')
              i.fab.fa-youtube
            a.link.link-instagram(href="#" title='Instagram APCN')
              i.fab.fa-instagram
            a.link.link-whatsapp(href="#" title='Whatsapp APCN')
              i.fab.fa-whatsapp
  nav.nav-brand
    .container 
      .row
        .col-lg-9
          img.brand(src="assets/logo.svg", alt="Logo APCN")
          //- p.brand-caption APCN
        .col-lg-3.search-content
          .navbar-expand-lg.w-100
            #collapseSearch.collapse.navbar-collapse
              form.w-100(action="")
                .input-group.search
                  input.form-control(type='text' placeholder='Buscar')
                  .input-group-append.search-append
                    i.fas.fa-search.c-cut

  nav.navbar.navbar-expand-lg
    .container
      button.navbar-toggle.collapsed.x(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#collapseSearch' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle search')
          i.fas.fa-search.c-primary
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
            a.nav-link.active.link-nav(aria-current='page' href='#') Home
          li.nav-item
            a.nav-link.link-nav(href='#') Features
          li.nav-item
            a.nav-link.link-nav(href='#') Pricing

