.link {
	transition: all 0.2s linear;
	text-decoration: none;
}

.link-nav {
  text-transform: uppercase;
  color: #666;
  font-size: 16px;
  &:hover {
    color: $primary;
  }
}

.link-facebook,
.link-whatsapp,
.link-youtube,
.link-instagram {
  color: #fff;
}

.link-facebook {
  &:hover {
    color: $facebook;
  }
}

.link-whatsapp {
  &:hover {
    color: $whatsapp;
  }
}

.link-youtube {
  &:hover {
    color: $youtube;
  }
}

.link-instagram {
  &:hover {
    color: $instagram;
  }
}

.link-primary {
  color: $primary;
  &:hover {
    color: $tertiary;
  }
}

.active {
  font-weight: bold;
  border-bottom: 4px solid $primary;
  color: $primary;
}